<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpx.humanpowerexchange">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TamilEnglish_way"></activity>
        <activity android:name=".ResetPassword" />
        <activity android:name=".WelderPage" />
        <activity android:name=".Watchmen" />
        <activity android:name=".Tailor" />
        <activity android:name=".SocialWorker" />
        <activity android:name=".PlumberPage" />
        <activity android:name=".Photographer" />
        <activity android:name=".PainterPage" />
        <activity android:name=".MechanicPage" />
        <activity android:name=".MasonPage" />
        <activity android:name=".MaidServant" />
        <activity android:name=".HomeTutors" />
        <activity android:name=".GardenersPage" />
        <activity android:name=".EelectricianPage" />
        <activity android:name=".DesignerPage" />
        <activity android:name=".DriverPage" />
        <activity android:name=".GameCoach" />
        <activity android:name=".CleanerPage" />
        <activity android:name=".ChefPage" />
        <activity android:name=".CartTaker" />
        <activity android:name=".CarpenterPage" />
        <activity android:name=".BeautitionsPage" />
        <activity android:name=".ServiceProviders" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".Step3i" />
        <activity android:name=".Step2" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>